$width--container: 81%;
$color--green-light: #69f0ae;
$color--fuschia: #e91e63;
$color--primary: #0e0e0e;
$color--primary-semi-light: #18191a;
$color--primary-light: #242526;
$color--secondary: #303031;
