.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px !important;
  padding: 0.55em 0.55em 0 0.55em !important;
}
.mat-form-field-underline {
  display: none !important;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.55em 0 !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $color--fuschia;
}
.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: $color--fuschia;
  background: $color--fuschia;
}
.mat-form-field-flex {
  width: 12rem !important;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: rgba(245, 245, 245, 0.626);
}
@media only screen and (max-width: 646px) {
  .mat-form-field-flex {
    width: 10rem !important;
  }
}
@media only screen and (max-width: 534px) {
  .mat-form-field-flex {
    width: 8rem !important;
  }
}
